.menu {
  /* add correct code to place the menu correctly.*/
  
  margin-right:1px;
  background-color: green;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(245, 245, 245);
}
.grid {
  
  display: flex;
  flex-wrap:unset;
  font-family: sans-serif;
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
